body {
    
    background-color: rgb(240,95,11);
}


.im1 {
    width: 80px;
    height: 80px;
    padding-top: 5px;
}
#main {
    display: flex;
    padding-bottom: 10px;
}
.im2 {
    width: 50px;
    height: 50px;
    text-align: right;
    padding-top: 20px;
    cursor: pointer;
    
    background-color: rgb(240,95,11);
}
h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    align-content: center;
    padding-left: 40px;
    text-decoration: none;
    color: black;
}
.t1 {
    display: flex;
    flex: 1;
    padding-left: 150px;
    text-align: center;
    justify-content: center;
    border-bottom: 10px;
    
}
a {
    text-decoration: none;
    color: black;
}
#ex {
    display: flex;
}


#main2 {
    justify-content: center;
    text-align: center;
    display: flex;
    padding-right: 35px;
}

#li3 {
    display: flex;
    
}
.names {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    
    justify-content: center;
    text-align: center;
    
    
}

.but {
    width: 100px;
    height: 60px;
    font-size: 24px;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 4px;
    text-decoration: none;
    border-radius: 0.2cm;
    cursor: pointer;
    outline: solid 2px black;
}

.but:hover {
    border-color: orange;
    border: solid 1px black;
    background-color: rgb(240,95,11);
    color: black;
    transition: all 0.3s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
a {
    color: white;
}


#main3 {
    height: 450px;
    display: flex;
    margin-left: 170px;
    
    margin-right: 170px;

}

#b1 {
    flex: 1;
}


#b2 {
    flex: 1;
}


#c1{
    width: 60%;
    height: 65%;
    padding-left: 15%;
}

#c2 {
    width: 50%;
    height: 65%;
    padding-left: 18%;
}

#l1 {
    display: flex;
}






#imm1 {
    width: 80%;
    height: 50%;
}

#imm2 {
    width: 80%;
    height: 40%;
}


.b:hover {
    padding: 10px;
    
    transition: all 0.3s;
}

@media (max-width: 1200px) {
    #main3 {
        display: flex;
        flex-direction: column;       
        align-items: center;          
        justify-content: center;      
        text-align: center;
        height: 900px;  
    }

    #b1, #b2 {
        height: 450px;
        width: 500px;
        margin: 10px 0;               
    }
    
    #in1 {
        width: 50%;
        background-color: rgb(240,95,11);
        align-content: center;
    
    }
    
    #c1 {
        width: 60%;
        height: 70%;
        padding-right: 15%;
    }

    #c2 {
        padding-right: 18%;
    }


}


@media (max-width: 925px) {
    #main3 {
        display: flex;
        flex-direction: column;       
        align-items: center;          
        justify-content: center;      
        text-align: center;
        height: 900px;
    }

    #b1, #b2 {
        height: 850px;
        width:400px;       
    }
    
    #c1 {
        width: 60%;
        height: 60%;
        padding-right: 15%;
    }
    

    #imm1 {
        width: 80%;
        height: 40%;
    }

    #imm2 {
        padding-top: 40px;
        width: 80%;
        height: 30%;
    }

}

#d1 {
    height: 48%;
    display: flex;
}

#d2 {
    height: 52%;
    display: flex;
}

#in1 {
    width: 50%;
    background-color: rgb(240,95,11);
    align-content: center;
    
}
#in2 {
    width: 50%;
    text-align: center;
    background-color: black;
    border-top-left-radius: 0.3cm;
    
    border-top-right-radius: 0.3cm;
    
}

#pp1, #pp3 {
    margin: 10px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ff1 {
    
    width: 50%;
    background-color: rgb(240,95,11);
    align-content: center;
}

#ff2 {
    
    width: 50%;
    text-align: center;
    background-color: black;
    color: white;
    
    border-bottom-left-radius: 0.3cm;
    
    border-bottom-right-radius: 0.3cm;
    
   
}

#b1 {
    display: flex;
    text-align: center;
}

#cl1, #cl2 {
    width: 50%;
    height: 100%;
} 
#cl1 {
    
    background-color: rgb(240,95,11);
}

#cl2 {
    align-content: center;
    background-color: black;
    border-radius: 0.3cm;
}

.f {
    margin: 10px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


